<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMPLATE-1</title>
    <link rel="stylesheet" href="./style.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div class="container">

        <h5 class="heading">Social-Media Icons</h5>
        <ul class="social-icons">
            <li>
                <a href="#" style="box-shadow: 0px 0px 10px -1px #00acee;">
                    <i class="fab fa-twitter" style="color: #00acee;"></i>
                </a></li>
            <li>
                <a href="#" style="box-shadow: 0px 0px 10px -1px #c8232c;">
                    <i class="fab fa-pinterest" style="color: #c8232c;"></i>
                </a></li>
            <li>
                <a href="#" style="box-shadow: 0px 0px 10px -1px #4fce5d;">
                    <i class="fab fa-whatsapp" style="color: #4fce5d;"></i>
                </a></li>
            <li>
                <a href="#" style="box-shadow: 0px 0px 10px -1px #0e76a8;">
                    <i class="fab fa-linkedin" style="color: #0e76a8;"></i>
                </a></li>
            <li>
                <a href="#" style="box-shadow: 0px 0px 10px -1px #c4302b;">
                    <i class="fab fa-youtube" style="color: #c4302b;"></i>
                </a></li>
        </ul>

        
        
    </div>
    
</body>
</html>